.mySlides {
    display: none;
}

body {
    font-family: Verdana, sans-serif;
}

footer{
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

footer p{
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    border-radius: 19px;
    font-weight: bolder;
}

.data-container {
    width: 600px;
    height: 364px;
    position: relative;
    margin: 0 auto;
}

.typeNumber, .information{
    text-align: center;
}

.information{
    padding-top: 10px;
}

.information a{
    color: blue;
    /* font-style: italic; */
    /* font-weight: bold; */
}

.bar {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #6f459e;
    transition: 0.2s all ease;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bar__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}

.btn1 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}

.btn1-1, .btn3, .btn4, .btn5{
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
.btn1:hover, .btn1-1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
    cursor: pointer;
    filter: saturate(40%);
}

.btn2 {
    padding: 12px;
    font-weight: bolder;
    background-color: #6f459e;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    
}

#ele {
    text-align: center;
    height: 35px;
}